@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
[data-remove-styles] * {
  all: unset;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
 
  
}


.rsw-ce ul{
 list-style: disc;
}
.rsw-ce p {
  /* Default styles for paragraphs */
  margin-bottom: 1em;
  line-height: 1.6;
  /* Add more default paragraph styles as needed */
}



.rsw-ce ol{
  
    list-style: decimal;
  
}
.rsw-ce h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.rsw-ce h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.rsw-ce h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.rsw-ce h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.rsw-ce h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.rsw-ce h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.rsw-ce a:link, .rsw-ce a:visited {
  color:#EAB308;
  /* text-decoration: underline; */
  cursor: pointer;
}

.rsw-ce a:link:active, .rsw-ce a:visited:active {
  color: violet;
}

.rsw-ce code{
  font-family: monospace;
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}
.rsw-ce{
  padding: 12px;
  margin: 12px;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-track {
  background-color: #2c2100;
  border-radius: 25%;
  /* margin: 10px 0; */
}

::-webkit-scrollbar-thumb {
  background-color: #EAB308;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b08400;
  border-radius: 100px;
}
.circle-cursor {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border-radius: 50%; /* Makes it a circle */
  background-color: rgba(0, 0, 0, 0.5); /* Color of the circle */
  position: absolute;
  pointer-events: none; /* Ensures the cursor doesn't interfere with mouse events */
  z-index: 9999; /* Ensures it's above other elements */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}